{% extends "base.html" %} 
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To Codemy Ecommerce...</p>
                </div>
            </div>
        </header>

        <div class="contanier">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
<p align="justify">                        
Lorem ipsum dolor sit amet,
consectetur adipiscing elit.
Sed molestie non dolor varius scelerisque.
Nam eu erat egestas, maximus purus sed,
molestie libero. Nam mi nibh,
malesuada sit amet risus non, egestas mattis lacus.
Integer metus tortor, bibendum nec auctor imperdiet,
pellentesque ac orci. Fusce non lorem diam.
Aenean fermentum pulvinar condimentum.
Curabitur ut vehicula purus, vel convallis nisl.
<br/><br/>
Nulla dictum urna ac molestie porta.
Donec nec convallis neque.
Morbi vitae ex ipsum.
Aenean sed elementum nisl, vel euismod magna.
Pellentesque vitae metus at nunc faucibus hendrerit quis blandit nibh.
Integer facilisis nisl at risus dictum tristique.
Proin dolor orci, gravida ut eros sed,
blandit condimentum nunc.
<br/><br/>
Sed lorem lorem, aliquet eu cursus fringilla, interdum non nisl.
Sed sagittis augue justo, sed eleifend enim imperdiet eget.
In id elit non lorem pharetra rhoncus.
Quisque commodo scelerisque metus.
Nullam in blandit elit.
Vivamus auctor enim vitae vestibulum viverra.
<br/><br/>
Sed eget mollis lectus. Aliquam erat volutpat.
Vivamus orci leo, aliquet eget pretium at,
lobortis sit amet nisi.
Phasellus tincidunt gravida neque et pulvinar.
Nam imperdiet orci ac ipsum ullamcorper semper.
Vestibulum nec efficitur tellus.
Phasellus leo magna, ultrices vel efficitur a,
imperdiet viverra nulla.
Pellentesque fermentum est leo,
quis cursus purus placerat vitae.
Vestibulum laoreet tempor ipsum ac accumsan.
In vel tempor neque. Aenean condimentum vehicula molestie.
</p>
<br/><br/>
                    </div>
                </center>
            </div>            
        </div>

{% endblock %}        
